<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form>
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" id="username" name="username" placeholder="用户名" required>
      </div>
      <div class="input-field">
        <input type="password" id="password" placeholder="Password" autocomplete="new-password" required>
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      <button onclick="window.location.href='register'" >Register</button>
      <button>Sign in</button>
    </div>
  </form>
</div>
<!-- partial -->
  <script  src="../static/script.js"></script>

</body>
</html>
